fastapi
uvicorn
python-dotenv
playwright
beautifulsoup4
trafilatura
sentence-transformers
chromadb
google-generativeai
groq
httpx
livekit
livekit-agents
livekit-plugins-openai
livekit-plugins-deepgram
livekit-plugins-cartesia
livekit-plugins-silero
